
.snow {
    background-color: transparent;
    background-image: url("https://cache.addthiscdn.com/www/1612075df7367/style/images/snow1.png"), url("https://cache.addthiscdn.com/www/1612075df7367/style/images/snow2.png");
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}
@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px
    }
}
@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px
    }
}
@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px
    }
}
@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px
    }
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}
@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0
    }
}
.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px)
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-30px)
    }
    60% {
        transform: translateY(-15px)
    }
}
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce
}